@import "tailwindcss";
@plugin "daisyui";
body {
  background: url(../public/bg-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh; /* Ensure full height */
  width: 100vw;  /* Ensure full width */
}
::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 6px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #000;
  border-radius: 10px;
}